/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* styling first section */
.container{
    background-color: #2D25A0;
    margin-bottom: 70px;
 
    
}
.first-section{
    display:flex;
    align-items: center;
    margin-left: 150px;
    margin-right: 50px;

    height: 800px;
    
}
.first-half{
    width: 50%;
}
.second-half{
    width: 50%;
}
.first-half h1{
    font-size: 64px;
    color: white;
    width: 485px;
    height: 230px;
}
.first-half h2{
    font-size: 64px;
}
.first-half a{
    text-decoration: none;
    background-color:  #E02C6D;
    color: white;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 25px;
    
}
.fa-arrow-right{
    margin-left: 8px;
}
.first-half .fa-arrow-right:hover{
    transform: translate(10px);
    transition: transform 1s ease-out;
}
.second-half{
    width: 556px;
    height: 438px;
    
}
.second-half img{
    width: 80%;

}
.second-half img:hover{
    transform: scale(1.2);
    transition: transform 5s ease-in-out;
}

 /* styling second section */
 .second-section{
     margin-left: 180px;
     margin-right: 180px;
     margin-bottom: 165px;
 }

 .all-player{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap: 30px;
     grid-row-gap: 27px;
     width: 100%;
     
}
 .player{
     padding: 15px 15px 33px 15px;
     box-shadow: 2px 2px 25px 2px gainsboro ;
}

.player-photo img{
    width: 100%;
}
.player-name{
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 16px;
    
}
.player-description{
    font-size: 16px;
    margin: 0;
}
/* Styling of third-section */
.third-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;

    margin-left: 182px;
    margin-right: 156px;
    margin-bottom: 60px;

}

.highlight-content a{
    text-decoration: none;
    background-color:  #E02C6D;
    color: white;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 25px;

}
.hightlights-image img{
    width: 100%;
}

/* Styling of Fourth section */
.fourth-section{
    text-align: center;
    background-color: rgb(194, 192, 192);
    padding: 20px;
}
.latest{
    display: flex;
    
    
}
.players{
    margin: 25px;
    background-color: honeydew;
}

.players img{
    width: 100%;
}

/* Fifth section */
.fifth-section{
    text-align: center;
    line-height: 10px;
    padding: 20px;
    background-color: rgb(0, 140, 255);
    margin-top: 50px;
}
.fifth-section h2{
    font-size: 64px;
    color: rgb(247, 166, 16);
}
.fifth-section h3{
    font-size: 40px;
}
.fifth-section input{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    font-weight: 200px;
    background-color: rgb(224, 216, 184);
    color: black;
    box-shadow: 10px 10px 20px rgba(255, 166, 0, 0.849);
}
    
/* Styling of Footer */
.footer{
    margin-top: 30px;
    text-align: center

}
.footer img{
    
    width: 483px;
    height: 110px;

}
.icon{
    text-align: center;
    font-size: 40px;
    color: grey;
    letter-spacing: 14px;
}
/* Media queries */


/* Mobile  Device*/
